.header {
    position: fixed;
    /*top: 0;
    left: 0;*/
    width: 100%; 
    height: 18%;
    /* background-color: hsl(192, 85%, 42%); */
    color: white;
     display: flex;
    /*justify-content: space-between;*/
     align-items: center; 
    padding: 0 10%;
    /*box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 10; */
    
    
	
}
.title{
    
 
}

.h3{

}

.buttons{
    /* width : 20%; */
    left: 63%;
    position : absolute;
display: inline-block;}